@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*{
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
body{
    font-size: 18px;
    background-color: hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
    display: flex;
    height: 100%
    align-items: center;
    justify-content: center;
}
.container{
    width: 100%;
    display: block;
}
.card{
    width: 350px;
    height: auto;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    padding: 25px;
    display:block;
    margin:150px auto;
}

.img-nft #img{
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.img-nft #ico{
    display: none;
}
.img-nft:hover div{
    background-color: hsla(178, 100%, 50%,0.5);
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25px;
}
.img-nft:hover #ico{
    display: block;
    opacity: 1;
}
.content{
    margin-top: 15px;
}
.content a{
    font-weight: 600;
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    
}
.content a:hover{
    color: hsl(178, 100%, 50%);
}
p{
    margin-top: 15px ;
    margin-bottom: 15px;
}
figure{
    display: flex;
    flex-direction: row;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid hsl(215, 32%, 27%);
    margin-bottom: 15px;
    align-items: center;
}
.price img{
    width: 15px;
    height: auto;
    margin-right: 5px;
}
.price{
    color: hsl(178, 100%, 50%);
}
.price figcaption{
    font-weight: 600;
}
.duration img{
    width: 15px;
    height: auto;
    margin-right: 5px;
}
.card-footer{
    align-items: center;
}
.card-footer img{
    width: 25px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-right: 10px;
}
.card-footer a{
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}
.card-footer a:hover{
    color:hsl(178, 100%, 50%);
}


.attribution { font-size: 11px; text-align: center; position: absolute; bottom: 10px; width: 100%;}
.attribution a { color: hsl(228, 45%, 44%); }
